/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Color *

blue : #3865e1
black-light: #23272a
grey-light: #a3a1a1
/


/*General */




header {
    max-width: 100%;
    height: 500px;
    background-color: #3865e1;
}



footer {
    max-width: 100%;
    height: 500px;
    background-color: #23272a
}


/* Utilities */

.padding {
    padding: 10px;
}

nav {
    padding: 30px;
}

/* Header */

.cointaner-header-nav {
    margin: 0 10%;
    background-color: #23272a;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cointaner-header-main {
    margin: 0 10%;
    background-color: #eef1f3;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main */

.main-cointaner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 2500px;
    background-color: #a3a1a1;
}

#first {
    max-width: 100%;
    height: 500px;
    background-color: #ea0f96;
    display: flex;
    flex-direction: row;
}

#second {
    max-width: 100%;
    height: 500px;
    background-color: #0db54d;
    display: flex;
    flex-direction: row;
}

#third {
    max-width: 100%;
    height: 500px;
    background-color: #047c81;
    display: flex;
    flex-direction: row;
}

#fourth {
    max-width: 100%;
    height: 1000px;
    background-color: #074f86;
    display: flex;
    flex-direction: column;
}

/* Footer */