/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Color *

blue : #3865e1
black-light: #23272a
grey-light: #a3a1a1
/


/*Generics */

section {
    height: 600px;
    padding: 50px 0;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-container {
    display: flex;
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

.first-background {

    background-color: rgb(194, 8, 8);
}

.second-background {

    background-color: rgb(179, 235, 9);
}


/* Header */

header {
    background-color: aquamarine;
}

#navbar {
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #cdec04;

}

#navbar>div {
    padding: 10px;
    flex-basis: 25%;
}

#navbar .menu {
    flex-grow: 1;
}

#sfondo {
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sfondo .content-sfondo {
    height: 100%;
    width: 50%;
    background-color: coral;
}

/* Main */




.colonna-large {
    flex-basis: 60%;
    background-color: #2bec04;

}


.colonna-small {
    background-color: #19cfd5;
    flex-basis: 40%;
}

.colonna-full {
    background-color: green;
    flex-basis: 100%;
}

/* Footer */


footer {
    background-color: aqua;
    padding: 50px;
}

footer .footer-top {
    height: 600px;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.footer-top .motto-col {
    background-color: #cdec04;
    flex-basis: 30%;
}

.footer-top .menu-col {
    background-color: burlywood;
    flex-basis: 70%;
}

.footer-top .menu-col .col {
    flex-basis: 25%;
    background-color: blue;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}